*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

stages.json
timetable.json
wear/src/main/assets/stages.json
wear/src/main/assets/timetable.json
/docs/superpowers